$statuses: (
  upcoming: #CEB700,
  ongoing: #FFA500,
  completed: #4CAF50,
  cancelled: #f44336
);

@mixin shadow-animation($name, $color) {
  @keyframes #{$name} {
    0% {
      box-shadow: 0 0 0 0 rgba($color, 0.7);
    }
    70% {
      box-shadow: 0 0 0 5px rgba($color, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba($color, 0);
    }
  }
}

.card{
  width: 100%;
  background-color: var(--color-surface-300);
  margin-bottom: 12px;

  .card-title{
    color: var(--color-text-100);
    font-size: var(--fs-20);
    font-weight: var(--fw-500);
    margin-bottom: 0;
    display: -webkit-box;
    cursor: pointer;
  }

  .status-tag{
    font-size: var(--fs-12);
    font-weight: var(--fw-400);
    border-radius: 5px;
    padding: 2px 5px;
    color: #FFFFFF;
    white-space: nowrap;

    &:hover {
      filter: brightness(1.1);
    }

    .icon{
      font-size: var(--fs-10);
    }
  }

  @each $status, $color in $statuses {
    @include shadow-animation(shadow-anime-#{$status}, $color);

    .status-tag.#{$status} {
      border: 1px solid $color;
      background-color: $color;
      animation: shadow-anime-#{$status} 0.5s ease-in-out infinite alternate;
    }
  }

  .sm-tag, .rating-tag{
    font-size: var(--fs-14);
    font-weight: var(--fw-400);
    color: var(--color-text-400);
  }

  .ssm-tag{
    font-size: var(--fs-12);
    font-weight: var(--fw-400);
    color: var(--color-text-400);
  }

  .rating-tag{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    color: var(--color-highlight-100);

    .material-icons{
      font-size: var(--fs-18);
    }
  }

  .platform{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    .icon-wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;

      img{
        width: 100%;
      }
    }

    .platform-name{
      font-size: var(--fs-16);
      font-weight: var(--fw-500);
      color: var(--color-text-200);
    }
  }

  .price-tag{
    font-size: var(--fs-16);
    font-weight: var(--fw-500);
    color: var(--color-text-100);
  }
}

.text-danger{
  color: var(--color-danger-100);
}
