<div class="card">
  <img src="{{course.image || '/assets/images/course-card/placeholder.webp'}}" class="card-img-top" alt="course banner" (click)="navigateToDetails(course.id)">
  <div class="card-body">
    <div class="d-flex flex-column gap-2">
      <div class="d-flex align-items-center gap-2">
        <div class="card-title" (click)="navigateToDetails(course.id)">{{course.name}}</div>
        <div class="dropdown">
          <button class="btn p-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="status-tag" [ngClass]="getClassForStatus(course.courseStatus)">{{ getClassForStatus(course.courseStatus) }}</span>
          </button>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li>
              <a class="dropdown-item d-flex align-items-center" (click)="changeStatus('upcoming', course)">
                <i class="material-icons">event_available</i> Upcoming
              </a>
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" (click)="changeStatus('ongoing', course)">
                <i class="material-icons me-2">autorenew</i> Ongoing
              </a>
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" (click)="changeStatus('completed', course)">
                <i class="material-icons me-2">check_circle</i> Completed
              </a>
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" (click)="changeStatus('cancelled', course)">
                <i class="material-icons me-2">cancel</i> Cancelled
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="d-flex flex-column align-items-start gap-2 w-100">
        <div class="d-flex flex-column align-items-start gap-2 w-100">
          <div class="platform">
            <div class="icon-wrapper" *ngIf="course.platform === 'online'">
              <img src="/assets/images/course-card/online.svg" alt="online">
            </div>
            <div class="icon-wrapper" *ngIf="course.platform === 'physical'">
              <img src="/assets/images/course-card/physical.svg" alt="physical">
            </div>
            <div class="icon-wrapper" *ngIf="course.platform === 'zoom'">
              <img src="/assets/images/course-card/zoom.svg" alt="zoom">
            </div>
            <div class="icon-wrapper" *ngIf="course.platform === 'team'">
              <img src="/assets/images/course-card/ms-teams.svg" alt="teams">
            </div>
            <div class="icon-wrapper" *ngIf="course.platform === 'meet'">
              <img src="/assets/images/course-card/meet.svg" alt="meet">
            </div>
            <div class="platform-name">{{course.platform}}</div>
          </div>
          <div class="sm-tag">{{course.startDate}}</div>
        </div>
        <div class="d-flex align-items-center justify-content-start w-100">
          <div class="sm-tag">{{course.fromTime +'-'+ course.toTime}}</div>
        </div>
        <div class="d-flex align-items-center justify-content-end w-100">
          <div class="sm-tag"><strong>{{participants.length}} Participants</strong></div>
        </div>
        <div class="d-flex align-items-center justify-content-end w-100">
          <div class="dropdown">
            <a role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="material-icons">more_horiz</i>
            </a>

            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/preview/{{course.id}}">Preview</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" (click)="navigateToParticipant(course.id)">Participants</a></li>
              <li><a class="dropdown-item" (click)="navigateToMaterials(course.id)">Manage Materials</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" (click)="editCourse(course)">Edit Course</a></li>
              <li><a class="dropdown-item" routerLink="/edit-modules/{{course.id}}">Edit Modules</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" (click)="toggleAudience(course.id)">{{course.publicity ? 'Make Private' : 'Make Public'}}</a></li>
              <li><a class="dropdown-item text-danger" (click)="deleteCourse(course.id)">Delete</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
