<div class="d-md-flex">
  <div class="form-card-1 justify-content-start">
    <h5>Initialize Installment Plans :</h5>

    <div *ngIf="paymentMethod == 'card'">
      <form (ngSubmit)="addInstallment()">
        <div class="row form-wrapper">
          <div class="col-12 col-lg-6">
            <div class="form-group">
              <label for="cname">Installment name *</label>
              <input type="text" class="form-control" id="cname" [(ngModel)]="newCardInstallment.name" [ngModelOptions]="{standalone: true}" required>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="form-group">
              <label for="ccurrency">Currency *</label>
              <select class="form-control" id="ccurrency" [(ngModel)]="newCardInstallment.currency" [ngModelOptions]="{standalone: true}" required>
                <option value="$">USD</option>
                <option value="Rs">LKR</option>
                <option value="₹">INR</option>
                <option value="€">EUR</option>
              </select>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="form-group">
              <label for="cprice">Price *</label>
              <input type="text" class="form-control" id="cprice" placeholder="10.00" [(ngModel)]="newCardInstallment.price" required [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="cpaymentlink">Payment link *</label>
              <input type="text" class="form-control" id="cpaymentlink" [(ngModel)]="newCardInstallment.paymentLink" [ngModelOptions]="{standalone: true}" required>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="form-group d-flex align-items-end w-100 h-100">
              <button type="submit" class="btn-fill btn-f-2" translate="no">Add</button>
            </div>
          </div>
        </div>
      </form>

      <div class="skill-set w-100" *ngIf="cardInstallments.length > 0">
        <hr>
        <div class="row my-2" *ngFor="let installment of cardInstallments; let i = index">
          <div class="col-6">
            <p>{{installment.name}}</p>
          </div>
          <div class="col-3">
            <p>{{installment.currency + '' + installment.price}}</p>
          </div>
          <div class="col-3">
            <button class="btn-fill btn-f-4" (click)="removeInstallment(i)"><i class="material-icons" translate="no">delete</i></button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="paymentMethod == 'bank'">
      <form (ngSubmit)="addInstallment()">
        <div class="row form-wrapper">
          <div class="col-12 col-lg-6">
            <div class="form-group">
              <label for="bholder">Account Holder name *</label>
              <input type="text" class="form-control" id="bholder" [(ngModel)]="newBankInstallment.holder" [ngModelOptions]="{standalone: true}" required>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="form-group">
              <label for="baccount">Account Number *</label>
              <input type="text" class="form-control" id="baccount" [(ngModel)]="newBankInstallment.accountNb" [ngModelOptions]="{standalone: true}" required>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="form-group">
              <label for="bbank">Bank name *</label>
              <input type="text" class="form-control" id="bbank" [(ngModel)]="newBankInstallment.bank" [ngModelOptions]="{standalone: true}" required>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="form-group">
              <label for="bbranch">Branch name *</label>
              <input type="text" class="form-control" id="bbranch" [(ngModel)]="newBankInstallment.branch" [ngModelOptions]="{standalone: true}" required>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="form-group">
              <label for="bname">Installment name *</label>
              <input type="text" class="form-control" id="bname" [(ngModel)]="newBankInstallment.name" [ngModelOptions]="{standalone: true}" required>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="form-group">
              <label for="bcurrency">Currency *</label>
              <select class="form-control" id="bcurrency" [(ngModel)]="newBankInstallment.currency" [ngModelOptions]="{standalone: true}" required>
                <option value="$">USD</option>
                <option value="Rs">LKR</option>
                <option value="₹">INR</option>
                <option value="€">EUR</option>
              </select>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="form-group">
              <label for="bprice">Price *</label>
              <input type="text" class="form-control" id="bprice" placeholder="10.00" [(ngModel)]="newBankInstallment.price" required [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="form-group d-flex align-items-end w-100 h-100">
              <button type="submit" class="btn-fill btn-f-2" translate="no">Add</button>
            </div>
          </div>
        </div>
      </form>

      <div class="skill-set w-100" *ngIf="bankInstallments.length > 0">
        <hr>
        <div class="row my-2" *ngFor="let installment of bankInstallments; let i = index">
          <div class="col-6">
            <p>{{installment.name}}</p>
          </div>
          <div class="col-3">
            <p>{{installment.currency + '' + installment.price}}</p>
          </div>
          <div class="col-3">
            <button class="btn-fill btn-f-4" (click)="removeInstallment(i)"><i class="material-icons" translate="no">delete</i></button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
