.warning-banner{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-text-700);
  border-radius: 5px;
  padding: 10px;

  .warning-banner-content{
    background-color: forestgreen;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    p{
      margin: 0;
      padding: 0;
      color: #ffffff;
    }

    .material-icons{
      color: #ffffff;
      font-size: 32px;
    }
  }
}

button {
  &:disabled {
    cursor: not-allowed;
    background-color: #6e7681;
  }
  &:disabled:hover {
    background-color: #6e7681;
    color: #FFFFFF;
  }
}
