<div class="shared-background">
  <div class="content-holder">
    <div class="main-content-wrapper">
      <div class="img-card-1">
        <img src="/assets/images/login/login.webp" alt="login image">
      </div>
      <div class="form-card-1">
        <div class="logo"
          [ngStyle]="{'background-image': themeService.isDarkMode() ? 'url(/assets/images/logo/g-l-w.avif)' : 'url(/assets/images/logo/g-l-b.avif)'}">
        </div>
        <h5 class="title">Sign In</h5>

        <form [formGroup]="loginForm">
          <div class="row form-wrapper">
            <div class="col-12">
              <label for="email">Email Address</label>
              <input type="email" placeholder="name@company.com" id="email" formControlName="email"
                autocomplete="username">
            </div>

            <div class="col-12">
              <label for="password">Password</label>
              <div class="input-group">
                <input [type]="isp1open ? 'text' : 'password'" placeholder="Enter your password" id="password"
                  formControlName="password" autocomplete="current-password">
                <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility()">
                  <i [ngClass]="isp1open? 'fa fa-eye-slash':'fa fa-eye'"></i>
                </button>
              </div>
            </div>

            <div class="col-12">
              <div class="d-flex align-items-center justify-content-between">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="flexCheckDefault" formControlName="remember">
                  <label class="form-check-label" for="flexCheckDefault">
                    Stay signed in
                  </label>
                </div>

                <a routerLink="/reset" class="link">Forgot Password?</a>
              </div>
            </div>

            <div class="col-12">
              <button id="TP_LI_LogIn" type="button" class="btn-fill btn-f-3" (click)="loginUser()"
                [disabled]="disabled">
                Sign In to Platform
              </button>
            </div>

            <div class="col-12">
              <p class="navigation-text text-center">
                New here? <a routerLink="/register">Create an account</a>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>