<div class="container py-4">
  <div class="d-flex flex-column align-items-center justify-content-center w-100">
    <div class="modules-wrapper d-flex flex-column gap-2">
      <div class="d-flex flex-column gap-2 module-wrapper" *ngFor="let m of modules">
        <div class="module-title">{{m.name}}</div>
        <div class="module-desc">{{m.description}}</div>
        <app-materials-upload-form
          [moduleId]="m.id"
          [courseId]="courseId"
          [editMaterial]="editMaterialsMap[m.id]"
          (successUpload)="successUpload($event)"
        ></app-materials-upload-form>
      </div>
    </div>
  </div>
</div>

<app-course-preview-loader *ngIf="loading"></app-course-preview-loader>
