.captcha-wrapper {
  padding: var(--padding-5);
  background-color: var(--color-surface-200);
  border-radius: var(--br-10);
  box-shadow: var(--box-shadow-2);
  max-width: 500px;
  margin-top: var(--margin-6);
  margin-bottom: var(--margin-6);
  font-size: var(--fs-16);
  color: var(--color-text-100);

  .alert {
    width: 100%;
    font-weight: var(--fw-500);
  }

  .spinner-border {
    color: var(--color-primary-100);
  }
}
