<div style="width: 100%" *ngFor="let c of selectedCourse">
  <div class="overview-wrapper">
    <div class="container mb-4">
      <div class="d-flex flex-column gap-4">
        <div class="title-2">{{c?.name}}</div>
        <div class="paragraph-1">{{c?.overview}}</div>
      </div>
    </div>
  </div>

  <div class="container mb-4">
    <div class="btn-group">
      <button class="btn btn-secondary" [class.active]="getActiveTab(c.id) === 'content'"
        (click)="setActiveTab(c.id, 'content')">
        Course Content
      </button>
    </div>
  </div>

  <div class="course-content pb-3" *ngIf="getActiveTab(c.id) === 'content'">
    <div class="container">
      <div class="content-title">Course Syllabus</div>
      <div class="module-wrapper d-flex flex-column gap-4 w-100">
        <div *ngFor="let m of c.modules; let i = index">
          <app-module-card [employeeId]="employeeId" [courseId]="courseId" [module]="m" [moduleIndex]="i + 1"
            [installment]="findInstallment(m)" [employee]="employee" [materials]="findMaterials(m, c)"
            [recordings]="findRecordings(m, c)" [assignments]="findQuizzes(m, c)"
            (bankPayment)="openBankCard($event)"></app-module-card>
        </div>
      </div>
      <div class="result-not-found" *ngIf="c.modules?.length === 0">
        <div class="img-wrapper">
          <img src="/assets/images/decorations/polar-bear.svg" alt="not found">
        </div>
        <p>No Results Available</p>
      </div>
    </div>
  </div>

</div>

<button class="d-none" id="offcanvas-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom"
  aria-controls="offcanvasBottom"></button>

<button id="bankCardBtn" type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#bankCard"></button>