<div style="width: 100%" *ngFor="let c of selectedCourse">
  <div class="overview-wrapper">
    <div class="container mb-4">
      <div class="d-flex flex-column gap-4">
        <div class="title-2">{{c.name}}</div>
        <div class="paragraph-1">{{c.overview}}</div>
      </div>
    </div>
  </div>

  <div class="course-content pb-3">
    <div class="container">
      <div class="content-title">Course Content</div>
      <div class="d-flex flex-column gap-4 w-100 p-5 module-wrapper">
        <div *ngFor="let m of c.modules; let i = index">
          <app-module-card
            [courseId]="courseId"
            [module]="m"
            [moduleIndex]="i + 1"
            [installment]="findInstallment(m)"
            (openDetails)="openCourseDetails($event)"
            (bankPayment)="openBankCard($event)"
          ></app-module-card>
        </div>
      </div>
      <div class="result-not-found" *ngIf="c.modules?.length === 0">
        <div class="img-wrapper">
          <img src="/assets/images/decorations/polar-bear.svg" alt="not found">
        </div>
        <p>No Results Available</p>
      </div>
    </div>
  </div>

</div>

<div class="container" *ngIf="loading">
  <app-course-preview-loader></app-course-preview-loader>
</div>

<button class="d-none" id="offcanvas-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom"
        aria-controls="offcanvasBottom"></button>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel" style="min-height: 50vh">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel">Module information</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="row" *ngIf="currentInstallment?.paid == 'paid'">
      <div class="col-12 col-md-6 pb-2">
        <div class="d-flex flex-column">
          <div class="content-title">Date</div>
          <div class="content-Value">{{currentModule?.date}}</div>
        </div>
      </div>
      <div class="col-6 col-md-3 pb-2">
        <div class="d-flex flex-column">
          <div class="content-title">Start</div>
          <div class="content-Value">{{currentModule?.start}}</div>
        </div>
      </div>
      <div class="col-6 col-md-3 pb-2">
        <div class="d-flex flex-column">
          <div class="content-title">End</div>
          <div class="content-Value">{{currentModule?.end}}</div>
        </div>
      </div>
      <div class="col-12 pb-2">
        <div class="d-flex flex-column">
          <div class="content-title">Join Through</div>
          <div class="content-Value">
            <a href="{{currentModule?.meetingLink || '#'}}">{{currentModule?.meetingLink || 'Link not updated!'}}</a>
          </div>
        </div>
      </div>
      <div class="col-12 pb-2">
        <div class="d-flex flex-column">
          <div class="content-title">Session Status</div>
          <div class="content-Value"
               [ngClass]="currentModule?.status === 'upcoming' ? 'upcoming' : currentModule?.status === 'inprogress' ? 'inprogress' : currentModule?.status === 'concluded' ? 'concluded' : ''">
            {{currentModule?.status === 'upcoming' ? 'Session has not started yet. Stay tuned!' : currentModule?.status === 'inprogress' ? 'Session is currently in progress' : 'Session has concluded'}}
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="currentInstallment?.paid != 'paid'">
      <div class="no-access">You are not eligible for this module yet! Make sure you have made payments!</div>
      <p style="text-align: center">Payments updating process can take up to 24 hours. Feel free to contact
        <a href="mailto:support&#64;talentboozt.com">support&#64;talentboozt.com</a></p>
    </div>
  </div>
</div>
