<div class="container" style="position: relative;">
  <div class="back-btn">
    <i class="material-icons">arrow_back</i>Back to Dashboard
  </div>

  <div class="d-lg-flex align-items-start justify-content-center w-100 gap-2">

    <div class="w-100 cmp-wrapper">
      <div class="stepper">
        <button class="d-none d-sm-block" (click)="prevStep()" [disabled]="currentStep === 0">Previous</button>
        <button class="d-block d-sm-none" (click)="prevStep()" [disabled]="currentStep === 0">&lt;</button>
        <span>Step {{ currentStep + 1 }} of {{ steps.length }}</span>
        <button class="d-none d-sm-block" (click)="nextStep()" [disabled]="currentStep === steps.length - 1">Next</button>
        <button class="d-block d-sm-none" (click)="nextStep()" [disabled]="currentStep === steps.length - 1">&gt;</button>
      </div>

      <div [ngSwitch]="currentStep">
        <app-basic-details *ngSwitchCase="0"></app-basic-details>
        <app-course-details *ngSwitchCase="1"></app-course-details>
        <app-relavant-details *ngSwitchCase="2"></app-relavant-details>
        <app-payment-details *ngSwitchCase="3"></app-payment-details>
        <app-module-details *ngSwitchCase="4"></app-module-details>
        <app-preview-post *ngSwitchCase="5"></app-preview-post>
      </div>
    </div>

    <div *ngIf="currentStep != 5" style="margin: max(50px, 5vw) auto; width: 100%; max-width: 400px;">
      <div class="form-card-2">
        <div class="pro-title">
          <h5>Copy from existing Course:</h5>
          <div class="pro-tag" *ngIf="false">pro</div>
        </div>
        <div class="d-flex align-items-center justify-content-end w-100 h-100 s-bar">
          <input type="text" placeholder="Search..."/>
          <i class="material-icons">search</i>
        </div>

        <div class="search-results-wrapper" *ngIf="false">
          <div class="not-found">Not Found :(</div>
        </div>
      </div>

      <div class="form-card-2">
        <div class="pro-title">
          <h5>Copy from drafts:</h5>
          <div class="pro-tag" *ngIf="false">pro</div>
        </div>
        <div class="d-flex align-items-center justify-content-end w-100 h-100 drafts-wrapper">
          <div class="d-flex align-items-center justify-content-between w-100 draft" *ngIf="draft">
            <div class="draft-name"><i class="material-icons">auto_awesome</i> Auto Saved</div>
            <i class="material-icons clear" (click)="clearDraft()">delete</i>
          </div>
          <div class="draft-not-found" *ngIf="!draft">
            <i class="material-icons">drafts</i>
            <div class="d-flex align-items-center justify-content-center">
              <p>No Drafts Found</p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
