<div class="card">
  <div class="row h-100">
    <div class="col-12 h-50"><div class="large-card"></div></div>
    <div class="col-12 h-10"><div class="small-card"></div></div>
    <div class="col-8 h-10"><div class="small-card"></div></div>
    <div class="col-4"></div>
    <div class="col-8 h-10"><div class="small-card"></div></div>
    <div class="col-4"></div>
    <div class="col-6 h-10"><div class="small-card"></div></div>
    <div class="col-6"></div>
    <div class="col-6"></div>
    <div class="col-6 h-10"><div class="small-card"></div></div>
  </div>
</div>
