<div class="form-card-1">
  <form class="w-100">

    <div class="d-flex align-items-center justify-content-between gap-2">
      <h5>Relevant Details :</h5>
      <div class="form-group">
        <button type="submit" class="btn-fill btn-f-2" (click)="saveData()">Save</button>
      </div>
    </div>

    <div class="row form-wrapper">
      <div class="col-12">
        <div class="form-group">
          <div class="skills-container">
            <label for="skills">Skills <span>(separate with commas)</span></label>

            <div class="tags-input">
    <span class="tag" *ngFor="let skill of relevantDetails.skills">
      {{ skill }}
      <span class="remove-tag" (click)="removeSkill(skill)">×</span>
    </span>

              <input type="text"
                     id="skills"
                     [(ngModel)]="inputValue"
                     [ngModelOptions]="{standalone: true}"
                     (keydown)="addSkill($event)"
                     placeholder="Add a skill..." />
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="startDate">Start Date *</label>
          <input type="date" class="form-control" id="startDate" placeholder="2020-01-01" [(ngModel)]="relevantDetails.startDate" [ngModelOptions]="{standalone: true}" required>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="form-group">
          <label for="startTime">Start Time *</label>
          <input type="time" class="form-control" id="startTime" placeholder="20.00PM" [(ngModel)]="relevantDetails.startTime" required [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="form-group">
          <label for="endTime">End Time *</label>
          <input type="time" class="form-control" id="endTime" placeholder="22.00PM" [(ngModel)]="relevantDetails.endTime" required [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="col-12 col-md-9">
        <div class="form-group">
          <label for="banner">Upload Cover Image</label>
          <input type="file" class="form-control" id="banner" (change)="uploadFile($event, 'trainingPlatform/courses/banners/' + generateRandomId())">
          <span class="error-msg">We recommend to check sample banner before uploading</span>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="form-group">
          <label for="sample">
            <span class="d-md-none">Check sample Image</span>
          </label>
          <button type="submit" id="sample" class="btn-fill btn-f-1" (click)="downloadSampleBanner()">Sample</button>
        </div>
      </div>
      <div class="col-12">
        <div class="d-sm-flex align-items-center justify-content-between">
          <div class="form-check">
            <input class="form-check-input me-2" type="checkbox" id="freeCheck" [(ngModel)]="relevantDetails.freeCheck" [ngModelOptions]="{standalone: true}" (change)="onFreeCheckChange()">
            <label class="form-check-label" for="freeCheck">Initialize as Free</label>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3">
        <div class="form-group">
          <label for="currency">Currency *</label>
          <select class="form-control" id="currency" [(ngModel)]="selectedCurrency" [ngModelOptions]="{standalone: true}" required [disabled]="relevantDetails.freeCheck">
            <option value="$">USD</option>
            <option value="Rs">LKR</option>
            <option value="₹">INR</option>
            <option value="€">EUR</option>
          </select>
        </div>
      </div>

      <div class="col-6 col-md-3">
        <div class="form-group">
          <label for="price">Price *</label>
          <input type="text" class="form-control" id="price" placeholder="10.00" [(ngModel)]="selectedPrice" [ngModelOptions]="{standalone: true}" required [disabled]="relevantDetails.freeCheck">
        </div>
      </div>
      <div class="col-6 col-md-3 col-lg-6" [ngClass]="relevantDetails.mediaType === 'physical' ? 'col-xl-3' : ''">
        <div class="form-group">
          <label for="mediaType">Delivery Type *</label>
          <select class="form-control" id="mediaType" [(ngModel)]="relevantDetails.mediaType" [ngModelOptions]="{standalone: true}" required>
            <option value="zoom">Zoom</option>
            <option value="meet">Google Meet</option>
            <option value="team">Microsoft Teams</option>
            <option value="online">Other Online Plat.</option>
            <option value="physical">Physical</option>
          </select>
        </div>
      </div>
      <div class="col-12 col-md-3 col-lg-12 col-xl-3" *ngIf="relevantDetails.mediaType === 'physical'">
        <div class="form-group">
          <label for="location">Location url</label>
          <input type="text" class="form-control" id="location" placeholder="https://maps.google.com" [(ngModel)]="relevantDetails.location" [ngModelOptions]="{standalone: true}" [disabled]="relevantDetails.mediaType != 'physical'">
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="category">Category</label>
          <div class="input-group dropup-center dropup">
            <input
              type="text"
              class="form-control"
              id="category"
              [(ngModel)]="relevantDetails.category"
              [ngModelOptions]="{standalone: true}"
              (input)="filterCategories()"
              placeholder="Select or Add Category"
              autocomplete="off" />

            <div *ngIf="filteredCategories.length > 0 && relevantDetails.category" class="dropdown-menu show" style="max-height: 100px; overflow-y: auto;">
              <button *ngFor="let category of filteredCategories"
                      class="dropdown-item"
                      (click)="selectCategory(category)">
                {{ category }}
              </button>

              <button *ngIf="!filteredCategories.includes(relevantDetails.category) && relevantDetails.category"
                      class="dropdown-item"
                      style="color: var(--color-text-400)"
                      (click)="addCategory()">
                Add "{{ relevantDetails.category }}"
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="status">Course Status *</label>
          <select class="form-control" id="status" [(ngModel)]="relevantDetails.courseStatus" [ngModelOptions]="{standalone: true}" required>
            <option value="upcoming">Upcoming</option>
            <option value="ongoing">Ongoing</option>
            <option value="completed">Completed</option>
            <option value="cancelled">Cancelled</option>
          </select>
        </div>
      </div>
    </div>
  </form>
</div>
