.title{
  font-size: var(--fs-26);
  font-weight: var(--fw-600);
  color: var(--color-text-100);
}

.form-card-1{
  max-width: 1200px;
}

.table-card-1{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--padding-2) var(--padding-4);
  border-radius: 8px;
  background-color: var(--color-surface-200);
}

.p-status{
  font-size: var(--fs-14);
  font-weight: var(--fw-500);
  color: var(--color-white);
  width: fit-content;
}
