<div class="container">
  <div class="title mt-3">Participants</div>

  <div class="form-card-1">
    <div class="row form-wrapper w-100">
      <div class="col-6 col-md-4">
        <div class="form-group">
          <label for="course">Course</label>
          <select class="form-control" [(ngModel)]="courseId" [ngModelOptions]="{standalone: true}" id="course">
            <option *ngIf="courses.length === 0" disabled value="n/a">Not Available</option>
            <option *ngFor="let c of courses" [value]="c?.id">{{c?.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="form-group">
          <label for="installment">Installment</label>
          <select class="form-control" [(ngModel)]="installmentId" id="installment">
            <option *ngIf="installments.length === 0 || !installments" disabled value="n/a">Not Available</option>
            <option *ngFor="let i of installments" [value]="i?.id">{{i?.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="form-group">
          <label for="search">Search</label>
          <input type="text" class="form-control" id="search" placeholder="Search by name" [(ngModel)]="searchTerm"/>
        </div>
      </div>
    </div>
  </div>

  <div class="warning-msg">
    <div class="d-flex align-items-center justify-content-center gap-2 w-100">
      <i class="material-icons">warning</i>
      <p class="m-0">Please choose Course and Installment for filtering and get better results!</p>
    </div>
  </div>

  <div class="table-card-1">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Payment Status</th>
        <th scope="col" class="d-none d-md-table-cell">Installment</th>
        <th scope="col">Email</th>
        <th scope="col">Course Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of filteredParticipants">
        <td>{{p?.name}}</td>
        <td>
          <select class="form-control p-status" [(ngModel)]="p.pStatus" [ngModelOptions]="{standalone: true}" [ngStyle]="{'background-color': p.pStatus == 'paid' ? 'green' : p.pStatus == 'unpaid' ? 'red' : 'orange'}" (change)="updatePaymentStatus(p.id, p.courseId, p.installmentId, p.pStatus)">
            <option *ngFor="let ps of paidStatus" [value]="ps.value">{{ps.name}}</option>
          </select>
        </td>
        <td class="d-none d-md-table-cell">{{p.installmentId}}</td>
        <td>{{p.email}}</td>
        <td>
          <select class="form-control p-status" [(ngModel)]="p.aStatus" [ngModelOptions]="{standalone: true}" [ngStyle]="{'background-color': p.aStatus == 'enrolled' ? 'green' : p.aStatus == 'dropped' ? 'red' : 'orange'}" (change)="updateAccountStatus(p.id, p.courseId, p.aStatus)">
            <option *ngFor="let pa of accountStatus" [value]="pa.value">{{pa.name}}</option>
          </select>
        </td>
      </tr>
      <tr *ngIf="filteredParticipants.length === 0"><td colspan="4">No participants found</td></tr>
      </tbody>
    </table>
  </div>

</div>
